/* Consistent throughout all three pages*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px;
    overflow: hidden;
}
nav img{
    width: 25px;
    height: 25px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;                     
    align-items: center;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}

@media screen and (min-width: 500px) { 
    .icon { 
        display: none;
    } 
} 

@media screen and (max-width: 768px) {
    .icon {
        margin-bottom: 15px;
        display: block;
        cursor: pointer;
    }
    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        z-index: 20;
    }
    nav.responsive ul {
        display: flex;
    }
    nav.responsive ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}