/* Consistent throughout all three pages*/
html, body{
    background-color: #ebe9e5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    overflow: hidden;
    border-bottom: 5px solid #70b77d;
    margin-bottom: 30px;
}

.title{
    color: #f0396d;
}

nav img{
    width: 25px;
    height: 25px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;                     
    align-items: center;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: #2b4570;
    font-weight: bold;
}
a:hover{
    color: #7180ac;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 5px;
    background-color: #70b77d;
    color: #2b4570;
}

@media screen and (min-width: 500px) { 
    .icon { 
        display: none;
    } 
} 
@media screen and (max-width: 768px) {
    .icon {
        margin-bottom: 15px;
        display: block;
        cursor: pointer;
    }
    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        z-index: 20;
    }
    nav.responsive ul {
        display: flex;
    }
    nav.responsive ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}